name: Deploy Civigest Backend to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy Backend (PM2) to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd ~/CiviGestService
            git pull origin main
            npm install
            npx prisma generate        
            npx prisma migrate deploy
            chmod +x scripts/*
            npm run seed:roles
            npm run build || true
            pm2 restart backend
